<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/mess</property>
		<property name="connection.username">root</property>
		<property name="connection.password">#Pawan@123</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="com.company.entities.University" />
		<mapping class="com.company.entities.LoginPassword" />
		<mapping class="com.company.entities.Mess" />
		<mapping class="com.company.entities.Warden" />
		<mapping class="com.company.entities.Manager" />
		<mapping class="com.company.entities.Student" />
		<mapping class="com.company.entities.Meal" />
		<mapping class="com.company.entities.Rating" />
		<mapping class="com.company.entities.ListOfMeal" />
		<mapping class="com.company.entities.OptOut" />
		<mapping class="com.company.entities.Feedback" />
		<mapping class="com.company.entities.FeedbackPhoto" />
		<mapping class="com.company.entities.Attendance" />


	</session-factory>
</hibernate-configuration>