<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>


	<filter>
		<filter-name>SameSiteCookieFilter</filter-name>
		<filter-class>com.company.Filters.SameSiteCookieFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SameSiteCookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<servlet>
		<servlet-name>Registration</servlet-name>
		<display-name>Registration</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<display-name>SignUp</display-name>
		<description></description>
		<servlet-class>com.company.servlets.SignUp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Signup_University</servlet-name>
		<display-name>Signup_University</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Signup_University</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignupUniversity</servlet-name>
		<display-name>SignupUniversity</display-name>
		<description></description>
		<servlet-class>com.company.servlets.University.SignupUniversity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignInUniversity</servlet-name>
		<display-name>SignInUniversity</display-name>
		<description></description>
		<servlet-class>com.company.servlets.University.SignInUniversity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMess</servlet-name>
		<display-name>AddMess</display-name>
		<description></description>
		<servlet-class>com.company.servlets.AddMess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditMess</servlet-name>
		<display-name>EditMess</display-name>
		<description></description>
		<servlet-class>com.company.servlets.EditMess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMess</servlet-name>
		<display-name>DeleteMess</display-name>
		<description></description>
		<servlet-class>com.company.servlets.DeleteMess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddStudentOne</servlet-name>
		<display-name>AddStudentOne</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.StudentSignup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddOneStudent</servlet-name>
		<display-name>AddOneStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.AddOneStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOneStudent</servlet-name>
		<display-name>DeleteOneStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.DeleteOneStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditStudent</servlet-name>
		<display-name>EditStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.EditStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddSingleStudent</servlet-name>
		<display-name>AddSingleStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.AddSingleStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewStudent</servlet-name>
		<display-name>ViewStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.ViewStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpStudent</servlet-name>
		<display-name>SignUpStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.SignUpStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpWarden</servlet-name>
		<display-name>SignUpWarden</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Warden.SignUpWarden</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SingUpManager</servlet-name>
		<display-name>SingUpManager</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Manager.SingUpManager</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OTPValidationStudent</servlet-name>
		<display-name>OTPValidationStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.OTPValidationStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OTPValidationWarden</servlet-name>
		<display-name>OTPValidationWarden</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Warden.OTPValidationWarden</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OTPValidationManager</servlet-name>
		<display-name>OTPValidationManager</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Manager.OTPValidationManager</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OTPValidationUniversity</servlet-name>
		<display-name>OTPValidationUniversity</display-name>
		<description></description>
		<servlet-class>com.company.servlets.University.OTPValidationUniversity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeOptOut</servlet-name>
		<display-name>ChangeOptOut</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Warden.ChangeOptOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMenu</servlet-name>
		<display-name>AddMenu</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Manager.AddMenu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RatingStudent</servlet-name>
		<display-name>RatingStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.RatingStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OptOutStudent</servlet-name>
		<display-name>OptOutStudent</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.OptOutStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StoreFeedback</servlet-name>
		<display-name>StoreFeedback</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.StoreFeedback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBulkStudents</servlet-name>
		<display-name>AddBulkStudents</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.AddBulkStudents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploading</servlet-name>
		<display-name>FileUploading</display-name>
		<description></description>
		<servlet-class>com.company.FIleUploading.FileUploading</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBulkMess</servlet-name>
		<display-name>AddBulkMess</display-name>
		<description></description>
		<servlet-class>com.company.servlets.AddBulkMess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFeedback</servlet-name>
		<display-name>AddFeedback</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.AddFeedback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetFeedback</servlet-name>
		<display-name>GetFeedback</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.GetFeedback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BulkOptOut</servlet-name>
		<display-name>BulkOptOut</display-name>
		<description></description>
		<servlet-class>com.company.servlets.BulkOptOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OptOutDownload</servlet-name>
		<display-name>OptOutDownload</display-name>
		<description></description>
		<servlet-class>com.company.servlets.OptOutDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewMenu</servlet-name>
		<display-name>ViewMenu</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Manager.ViewMenu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRating</servlet-name>
		<display-name>GetRating</display-name>
		<description></description>
		<servlet-class>com.company.servlets.GetRating</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchOptOut</servlet-name>
		<display-name>FetchOptOut</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.FetchOptOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarkAttendance</servlet-name>
		<display-name>MarkAttendance</display-name>
		<description></description>
		<servlet-class>com.company.servlets.Student.MarkAttendance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMessDetails</servlet-name>
		<display-name>GetMessDetails</display-name>
		<description></description>
		<servlet-class>com.company.servlets.University.GetMessDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signup_University</servlet-name>
		<url-pattern>/Signup_University</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignupUniversity</servlet-name>
		<url-pattern>/SignupUniversity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignInUniversity</servlet-name>
		<url-pattern>/SignInUniversity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMess</servlet-name>
		<url-pattern>/AddMess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditMess</servlet-name>
		<url-pattern>/EditMess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMess</servlet-name>
		<url-pattern>/DeleteMess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentOne</servlet-name>
		<url-pattern>/AddStudentOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddOneStudent</servlet-name>
		<url-pattern>/AddOneStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOneStudent</servlet-name>
		<url-pattern>/DeleteOneStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditStudent</servlet-name>
		<url-pattern>/EditStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSingleStudent</servlet-name>
		<url-pattern>/AddSingleStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewStudent</servlet-name>
		<url-pattern>/ViewStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpStudent</servlet-name>
		<url-pattern>/SignUpStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpWarden</servlet-name>
		<url-pattern>/SignUpWarden</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingUpManager</servlet-name>
		<url-pattern>/SingUpManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OTPValidationStudent</servlet-name>
		<url-pattern>/OTPValidationStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OTPValidationWarden</servlet-name>
		<url-pattern>/OTPValidationWarden</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OTPValidationManager</servlet-name>
		<url-pattern>/OTPValidationManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OTPValidationUniversity</servlet-name>
		<url-pattern>/OTPValidationUniversity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeOptOut</servlet-name>
		<url-pattern>/ChangeOptOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMenu</servlet-name>
		<url-pattern>/AddMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RatingStudent</servlet-name>
		<url-pattern>/RatingStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OptOutStudent</servlet-name>
		<url-pattern>/OptOutStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoreFeedback</servlet-name>
		<url-pattern>/StoreFeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBulkStudents</servlet-name>
		<url-pattern>/AddBulkStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploading</servlet-name>
		<url-pattern>/FileUploading</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBulkMess</servlet-name>
		<url-pattern>/AddBulkMess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFeedback</servlet-name>
		<url-pattern>/AddFeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFeedback</servlet-name>
		<url-pattern>/GetFeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BulkOptOut</servlet-name>
		<url-pattern>/BulkOptOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OptOutDownload</servlet-name>
		<url-pattern>/OptOutDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewMenu</servlet-name>
		<url-pattern>/ViewMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRating</servlet-name>
		<url-pattern>/GetRating</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchOptOut</servlet-name>
		<url-pattern>/FetchOptOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarkAttendance</servlet-name>
		<url-pattern>/MarkAttendance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMessDetails</servlet-name>
		<url-pattern>/GetMessDetails</url-pattern>
	</servlet-mapping>









</web-app>
